<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attributes</key>
	<array>
		<string>position</string>
		<string>inTexCoord</string>
	</array>
	<key>Files</key>
	<array>
		<string>display.vsh</string>
		<string>boundary.fsh</string>
	</array>
	<key>Uniforms</key>
	<array>
		<string>offset</string>
		<string>x</string>
		<string>scale</string>
		<string>modelViewProjectionMatrix</string>
	</array>
</dict>
</plist>
